whatsapp-api@1.0.0 C:\drivers\whatsapp-api-master
├── @babel/code-frame@7.22.5 extraneous
├── @babel/helper-validator-identifier@ extraneous
├── @babel/highlight@7.22.5 extraneous
├── @puppeteer/browsers@ extraneous
├── @tootallnate/quickjs-emscripten@ extraneous
├── @types/node@20.4.5 extraneous
├── @types/yauzl@2.10.0 extraneous
├── agent-base@ extraneous
├── ansi-regex@5.0.1 extraneous
├── ansi-styles@3.2.1 extraneous
├── argparse@2.0.1 extraneous
├── ast-types@0.13.4 extraneous
├── b4a@1.6.4 extraneous
├── basic-ftp@5.0.3 extraneous
├── callsites@3.1.0 extraneous
├── chalk@2.4.2 extraneous
├── chownr@1.1.4 extraneous
├── chromium-bidi@0.4.16 extraneous
├── cliui@8.0.1 extraneous
├── color-convert@1.9.3 extraneous
├── color-name@1.1.3 extraneous
├── cosmiconfig@8.2.0 extraneous
├── cross-fetch@4.0.0 extraneous
├── data-uri-to-buffer@5.0.1 extraneous
├── degenerator@5.0.1 extraneous
├── devtools-protocol@ extraneous
├── dotenv@16.3.1
├── emoji-regex@8.0.0 extraneous
├── error-ex@1.3.2 extraneous
├── escalade@3.1.1 extraneous
├── escape-string-regexp@1.0.5 extraneous
├── escodegen@2.1.0 extraneous
├── esprima@4.0.1 extraneous
├── estraverse@5.3.0 extraneous
├── esutils@2.0.3 extraneous
├── express@4.18.2
├── extract-zip@2.0.1 extraneous
├── fast-fifo@1.3.0 extraneous
├── fd-slicer@1.1.0 extraneous
├── find-up@4.1.0 extraneous
├── fs@0.0.1-security
├── get-caller-file@2.0.5 extraneous
├── get-stream@5.2.0 extraneous
├── get-uri@6.0.1 extraneous
├── has-flag@3.0.0 extraneous
├── http-proxy-agent@ extraneous
├── https-proxy-agent@7.0.1 extraneous
├── import-fresh@3.3.0 extraneous
├── ip@1.1.8 extraneous
├── is-arrayish@0.2.1 extraneous
├── is-fullwidth-code-point@3.0.0 extraneous
├── js-tokens@4.0.0 extraneous
├── js-yaml@ extraneous
├── json-parse-even-better-errors@2.3.1 extraneous
├── lines-and-columns@1.2.4 extraneous
├── locate-path@5.0.0 extraneous
├── lru-cache@7.18.3 extraneous
├── mitt@3.0.0 extraneous
├── mkdirp-classic@0.5.3 extraneous
├── netmask@2.0.2 extraneous
├── node-fetch@ extraneous
├── p-limit@2.3.0 extraneous
├── p-locate@4.1.0 extraneous
├── p-try@2.2.0 extraneous
├── pac-proxy-agent@7.0.0 extraneous
├── pac-resolver@7.0.0 extraneous
├── parent-module@1.0.1 extraneous
├── parse-json@ extraneous
├── path-exists@4.0.0 extraneous
├── path-type@4.0.0 extraneous
├── pend@1.2.0 extraneous
├── pkg-dir@4.2.0 extraneous
├── progress@2.0.3 extraneous
├── proxy-agent@6.3.0 extraneous
├── proxy-from-env@1.1.0 extraneous
├── pump@3.0.0 extraneous
├── puppeteer-core@ extraneous
├── puppeteer@20.9.0 extraneous
├── qrcode-terminal@0.12.0
├── queue-tick@1.0.1 extraneous
├── require-directory@2.1.1 extraneous
├── resolve-from@4.0.0 extraneous
├── rimraf@3.0.2 extraneous
├── smart-buffer@4.2.0 extraneous
├── socks-proxy-agent@8.0.1 extraneous
├── socks@2.7.1 extraneous
├── source-map@0.6.1 extraneous
├── streamx@2.15.0 extraneous
├── string-width@4.2.3 extraneous
├── strip-ansi@6.0.1 extraneous
├── supports-color@5.5.0 extraneous
├── tar-fs@3.0.4 extraneous
├── through@2.3.8 extraneous
├── tslib@2.6.1 extraneous
├── unbzip2-stream@1.4.3 extraneous
├── whatsapp-web.js@1.21.0
├── wrap-ansi@7.0.0 extraneous
├── ws@ extraneous
├── y18n@5.0.8 extraneous
├── yargs-parser@21.1.1 extraneous
├── yargs@ extraneous
└── yauzl@2.10.0 extraneous

